

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] shop</title>
    <link href="~/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <a style="visibility:hidden" href="~/css/bootstrap-rtl.css.map">~/css/bootstrap-rtl.css.map</a>
    <a style="visibility:hidden" href="~/css/bootstrap-reboot-rtl.min.css">~/css/bootstrap-rtl.min.css</a>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2-examples" asp-append-version="true" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">فروشگاه</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">خانه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="s">تماس با ما</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark">خوش آمدید @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-controller="user" asp-action="Logout" method="post" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="nav-link btn btn-link text-dark" > خروج از حساب </button>
                                </form>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="showcart">سبد خرید</a>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="register">ثبت نام</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="viewlogin">ورود</a>
                            </li>
                        }


                    </ul>
                    <div>
                        @RenderSection("CategoryList", required: false) 
                    </div>
                </div>
                </div>
           

            
        </nav>
    </header>
    <div class="container row">
        <div class="col-3 ">

            @await Component.InvokeAsync("pvcomponent");

            
        </div>
       <div class="col-9 ">
            @RenderBody()
       </div>
      
    </div>

    @RenderSection("Scripts", required: false)


</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>
